<div id="<%= dom_id debt %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Descripcion:</strong>
    <%= debt.label %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha:</strong>
    <%= debt.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cuenta:</strong>
    <%= link_to debt.account.name, account_path(debt.account_id), class: "font-bold text-indigo-500" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Moneda:</strong>
    <%= debt.currency %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Valor:</strong>
    <%= number_to_currency(debt.amount) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Saldo deudor:</strong>
    <%= number_to_currency(debt.owe) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Documento:</strong>
    <%= link_to debt.invoice.filename, debt.invoice if debt.invoice.attached? %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Mostrar", debt, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Editar", edit_debt_path(debt), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
