<!DOCTYPE html>
<html>
  <head>
    <title>FinancerRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="min-h-full">
        <nav class="border-b border-gray-200 bg-white">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 justify-between">
                    <div class="flex">
                        <div class="flex flex-shrink-0 items-center">
                        <img class="block h-8 w-auto lg:hidden" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Mis Finanzas">
                        <img class="hidden h-8 w-auto lg:block" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Mis Finanzas">
                        </div>
                        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                            <%= active_link_to "Principal", root_path, :class => "border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium" %>
                            <%= active_link_to "Cuentas", accounts_path, :class => "border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium" %>
                            <%= active_link_to "Deudas", debts_path, :class => "border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium" %>
                            <%= active_link_to "Transacciones", transactions_path, :class => "border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 text-sm font-medium" %>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <main class="container mx-auto mt-28 px-5 flex">
            <%= yield %>
        </main>
    </div>
  </body>
</html>
